@media screen and (max-width: 1024px) {
    .project-info-container
    {
        width:100%;
    }

    .project-info-gallery, .gallery-div
    {
        position: initial;
        display: initial;
    }

    .gallery-div img{
        opacity: 1;
        width:100%;
        transition: none;
        margin: 10px 0px 10px 0px;
    }

    .gallery-arrow{
        display: none;
    }

    /* CARD CONTAINER*/

    .card-back
    {
        overflow: auto;
        padding: 0px;
    }

    .card-container {

      margin:0px;
      height: 60vh;
    }

    .contactcard-img
    {
        width: 80px;
    }

    .contactcard-h1{
        font-size: 28px;
        font-weight: 600;
    }
      
    .contactcard-h2{
        font-size: 24px;
    }
      
    .contactcard-body{
        font-size: 15px;
    }

    .contactcard-ul
    {
        text-align: initial;
        column-count: 1;
    }
    .contactcard-footer-content
    {
        display: initial
    }
}