@media screen and (max-width: 1024px) {
    .project-info-container
    {
        width:100%;
    }

    .project-info-gallery, .gallery-div
    {
        position: initial;
        display: initial;
    }

    .gallery-div img{
        opacity: 1;
        width:100%;
        transition: none;
        margin: 10px 0px 10px 0px;
    }

    .gallery-arrow{
        display: none;
    }
}